* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

    /* Primary Colors */
    --color-primary: #0077cc;
    --color-primary-light: #e4f9ff;
    --color-primary-dark: #073C6D;

    /* Secondary Colors */
    --color-secondary: #013b4f;

    /* Supporting Colors */
    --color-accent: #0ab46e;
    --color-gray: #888888;
    --color-white: #ffffff;

    /* Text Colors (optional for UI use) */
    --text-primary: #013b4f;
    --text-secondary: #888888;
    --text-on-primary: #ffffff;
}




body {
    background-color: var(--color-white);
    color: var(--color-secondary);
}


/* -----------------navigation-bar--------------------------- */

.govt-nav-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.govt-nav-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

/* Top bar */
.govt-nav-top-bar {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    font-size: 15px;
    padding: 10px 0;
}

.govt-nav-social span,
.govt-nav-contact span {
    margin-right: 18px;
}

.govt-nav-social a {
    /* margin-left: 10px; */
    padding: 0 8px;
    color: var(--color-white);
}

.govt-nav-contact i {
    margin-right: 5px;
}

.govt-nav-login {
    color: var(--color-white);
    margin-left: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.govt-nav-login:hover {
    color: var(--color-accent);
}



/* -------------------------header-nav---------------------------- */

.govt-nav-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: 15px 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
    transition: background 0.3s ease;
    flex-wrap: wrap;
}

.govt-nav-navbar:hover {
    background: var(--color-primary-light);
}

.govt-nav-navbar:hover a {
    color: var(--text-primary);
}

.govt-nav-logo {
    font-weight: bold;
    color: #333;
    font-size: 20px;
}

.govt-nav-nav-menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.govt-nav-nav-menu a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.govt-nav-nav-menu a:hover {
    color: var(--color-white);
    background-color: var(--color-accent);
}

.govt-nav-nav-menu a.govt-nav-our-work i {
    margin-left: 5px;
}

/* ----------------megamenu--------------- */

.govt-nav-megamenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 30px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.govt-nav-megamenu-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    gap: 30px;
    /* flex-wrap: wrap; */
}

.govt-nav-megamenu-section {
    flex: 1;
    min-width: 200px;
}

.govt-nav-megamenu-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--color-accent);
}

.govt-nav-megamenu-section a {
    display: block;
    font-size: 16px;
    color: #555;
    text-decoration: none;
    line-height: 1.6;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.govt-nav-megamenu-section a:hover {
    background-color: var(--color-primary-light);
    color: var(--text-primary);
}

.govt-nav-description {
    max-width: 360px;
    font-size: 17px;
    color: #444;
    line-height: 1.6;
    padding-right: 20px;
    border-right: 2px solid #292929;
    flex-shrink: 0;
}

.govt-nav-description p {
    margin-bottom: 20px;
}

.govt-nav-description p span {
    display: block;
    margin: 8px 0;
    font-weight: bold;
    color: var(--color-accent);
}

.govt-nav-testimonial {
    background: var(--color-accent);
    padding: 20px;
    border-radius: 10px;
    flex-shrink: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.govt-nav-testimonial:hover {
    transform: scale(1.02);
}

.govt-nav-testimonial img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid var(--color-primary-light);
    margin-bottom: 10px;
}

.govt-nav-testimonial p {
    font-size: 15px;
    color: var(--text-on-primary);
    margin: 10px 0;
}

.govt-nav-testimonial a {
    color: #6a5cd1;
    font-size: 15px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .govt-nav-nav-menu {
        flex-direction: column;
        gap: 10px;
    }

    .govt-nav-megamenu-container {
        flex-direction: column;
        gap: 20px;
    }
}



/* ---------------------------------navigation-end------------------------------------- */



/* =========================start-hero-section=============================== */

.gov-ban-hero {
    position: relative;
    background-image: url(../images/web.jpg);
    /* Placeholder office */
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 60px 40px;
    color: white;
}

.gov-ban-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.gov-ban-hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.gov-ban-hero h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
}

.gov-ban-hero p {
    font-size: 16px;
    margin-bottom: 25px;
}

.gov-ban-button {
    padding: 12px 24px;
    background-color: #00c389;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.gov-ban-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* position: absolute; */
    transform: translate(0, -40%);
    padding: 0 20px;
    flex-wrap: wrap;
}

.gov-ban-card {
    background-color: white;
    padding: 30px 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    max-width: 320px;
    text-align: center;
}

.gov-ban-icon {
    font-size: 36px;
    margin-bottom: 15px;
    color: inherit;
}

.gov-ban-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.gov-ban-card p {
    font-size: 14px;
    margin-bottom: 20px;
}

.gov-ban-card a {
    text-decoration: none;
    font-weight: bold;
    color: #00c389;
}

.gov-ban-card.gov-ban-featured a {
    color: white;
}

@media (max-width: 768px) {
    .gov-ban-hero {
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }

    .gov-ban-hero h1 {
        font-size: 32px;
    }

    .gov-ban-cards {
        flex-direction: column;
        align-items: center;
        margin-top: -60px;
    }
}


/* =========================end-hero-section=============================== */


/* ========================start-govt-person========================== */

.gov-prsn-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.gov-prsn-card {
    background: #fff;
    transform: translate(0, -40%);
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background 0.4s ease, color 0.4s ease;
    border-bottom: 6px solid var(--color-accent);

}


.gov-prsn-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background: var(--color-accent);
    /* Or use linear-gradient if desired */
    z-index: -1;
    transition: height 0.4s ease;
}

.gov-prsn-card:hover::before {
    height: 100%;
}

.gov-prsn-card:hover {
    background: var(--color-accent);
    /* e.g., #2a9d8f */
    color: var(--color-primary-light);
    /* e.g., #ffffff */
}


.gov-prsn-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -80px;
    border: 5px solid #fff;
    box-shadow: 0 0 0 5px #f3f3f3;
}

.gov-prsn-name {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 5px;
}

.gov-prsn-role {
    font-size: 15px;
    font-weight: 500;
    color: #555;
    margin-bottom: 10px;
}

.gov-prsn-desc {
    font-size: 14px;
    color: #666;
    margin: 0 0 20px;
    line-height: 1.4;
}

.gov-prsn-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gov-prsn-social a {
    text-decoration: none;
    color: #1da1f2;
    font-size: 18px;
    background-color: #e6f0fb;
    padding: 8px;
    border-radius: 50%;
    transition: background 0.3s;
}

.gov-prsn-social a:hover {
    background-color: #cfe8ff;
}



/* ========================end-govt-person========================== */


/* -----------------------kmc-abt---------------------------- */

.kmc-abt-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 10%;
    background: #fff;
    align-items: center;
}

.kmc-abt-left {
    flex: 1;
    padding-right: 3rem;
}

.kmc-abt-left h3 {
    color: #999;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 10px;
}

.kmc-abt-left h1 {
    font-size: 40px;
    font-weight: 800;
    color: #003366;
    margin-bottom: 20px;
}

.kmc-abt-left p {
    font-size: 18px;
    padding-right: 1rem;
    color: #666;
    line-height: 1.7;
    margin-bottom: 25px;
}

.kmc-abt-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
    margin-bottom: 30px;
}

.kmc-abt-feature {
    font-size: 15px;
    color: #333;
    display: flex;
    align-items: center;
}

.kmc-abt-feature::before {
    content: '✔️';
    margin-right: 10px;
    color: #00aa88;
}

.kmc-abt-buttons {
    display: flex;
    gap: 15px;
}

.kmc-abt-btn {
    padding: 10px 20px;
    border: 2px solid #003366;
    background: transparent;
    color: #003366;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

.kmc-abt-btn:hover {
    background: #003366;
    color: #fff;
}

.kmc-abt-btn.green {
    background: #00cc99;
    border-color: #00cc99;
    color: #fff;
}

.kmc-abt-btn.green:hover {
    background: #009977;
}

.kmc-abt-right {
    flex: 1;
    text-align: center;
}

.kmc-abt-right img {
    max-width: 100%;
    border: 15px double var(--color-primary-dark);
}

.kmc-abt-banner {
    text-align: center;
    background: var(--color-primary);
    color: #fff;
    padding: 15px;
    font-size: 16px;
    top: 0;
    z-index: 999;
    position: sticky;
}

.kmc-abt-banner span {
    color: var(--text-on-primary);
    font-weight: bold;

}

@media(max-width: 768px) {
    .kmc-abt-container {
        flex-direction: column;
        padding: 30px 20px;
    }

    .kmc-abt-left,
    .kmc-abt-right {
        padding: 0;
    }

    .kmc-abt-left {
        margin-bottom: 30px;
    }
}



/* -----------------------kmc-abt-end--------------------------- */





/* --------------------------------kmc-work-end--------------------------------- */

.kmc-wrk-container {
    display: flex;
    overflow: hidden;
    padding: 60px 40px 100px;
    background: #f9f9f9;
    align-items: flex-start;
    gap: 20px;

}

.kmc-wrk-img img {
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.kmc-wrk-left {
    position: relative;
}

.kmc-wrk-sub {
    position: absolute;
    top: 220px;
    left: 100px;
    z-index: 1;
}

.kmc-wrk-overlay {
    width: 300px;
    background: rgba(10, 180, 110, 0.95);
    padding: 30px 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kmc-wrk-overlay h1 {
    font-size: 28px;
    margin-bottom: 15px;
    
}

.kmc-wrk-overlay p {
    font-size: 17px;
    margin-bottom: 30px;
}

.kmc-wrk-overlay button {
    padding: 10px 18px;
    background: white;
    border: none;
    color: #0ab46e;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.kmc-wrk-slider-wrapper {
    width: 70%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.kmc-wrk-slider-controls {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.kmc-wrk-slider-controls button {
    background: #0ab46e;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.kmc-wrk-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
}

.kmc-wrk-slider::-webkit-scrollbar {
    display: none;
}

.kmc-wrk-card {
    flex: 0 0 260px;
    background: white;
    border-right: 3px solid var(--color-accent);
    border-bottom: 3px solid var(--color-accent);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    height: 300px;
}

.kmc-wrk-card:hover {
    transform: translateY(-5px);
}

.kmc-wrk-icon {
    font-size: 30px;
    color: #0ab46e;
    margin-bottom: 15px;
}

.kmc-wrk-title {
    font-size: 22px;
    font-weight: 600;
    color: #073C6D;
    margin-bottom: 10px;
}

.kmc-wrk-desc {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.kmc-wrk-read {
    color: #0ab46e;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}


/* --------------------------------kmc-work-end--------------------------------- */


/* ----------------------------------------------kmc-prj--------------------------------- */

.kmc-prj-section {
    padding: 60px;
    margin: 1rem 0;
    background-color: var(--color-primary-dark);
}

.kmc-prj-heading {
    text-align: center;
    margin-bottom: 40px;
}

.kmc-prj-heading h1 {
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
}

.kmc-prj-heading p {
    font-size: 20px;
    color: #dddcdc;
}

.kmc-prj-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: auto;
}

.kmc-prj-box {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kmc-prj-box img {
    width: 100%;
    display: block;
}

.kmc-prj-content {
    padding: 20px;
}

.kmc-prj-content h3 {
    font-size: 25px;
    margin-bottom: 10px;
     color: #073C6D;

}

.kmc-prj-content p {
    font-size: 17px;
    color: #073C6D;
    margin-bottom: 15px;
    line-height: 1.6;
}

.kmc-prj-btn {
    display: inline-block;
    background: var(--color-accent);
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    font-weight: bold;
    transition: 0.3s;
}

.kmc-prj-btn:hover {
    background: var(--color-primary);
}

@media (max-width: 768px) {
    .kmc-prj-grid {
        grid-template-columns: 1fr;
    }
}

/* ----------------------------------------------kmc-prj-end-------------------------------- */



/* =====================================start-what-we-focus=============================== */


.we-fcus-section {
    max-width: 1400px;
    margin: auto;
    padding: 2rem 0 4rem 0;
}

.we-fcus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.we-fcus-header h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #073C6D;
}

.we-fcus-buttons {
    display: flex;
    gap: 1rem;
}

.we-fcus-btn {
    background-color: #007ac8;
    color: white;
    padding: 0.6rem .8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.we-fcus-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.we-fcus-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #073C6D;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.we-fcus-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.we-fcus-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007ac8;
    color: white;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 2px;
    text-transform: uppercase;
}

.we-fcus-tag.green {
    background-color: #00a651;
}

.we-fcus-card h3,
.we-fcus-card h4 {
    margin: 1rem;
    font-size: 1.2rem;
}

.we-fcus-card.kmc {
    background-color: #d7e0e8;
    display: flex;
    flex-direction: column;
    color: #003e75;
}

.we-fcus-card.kmc .we-fcus-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-top: 2rem;
}

.we-fcus-card.kmc .we-fcus-content p {
    font-size: 1rem;
    padding: 0 1rem;
}


.we-fcus-card.kmc h4 {
    color: #073C6D;
    margin-top: 0.5rem;
}


/* =====================================end-what-we-focus=============================== */


/* =======================================start-faq-section======================================== */


.govt-faq-main {
    background: var(--color-primary-light);
    padding: 2rem 0;

}

.gvt-faq-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    padding: 20px;
}

.gvt-faq-section {
    flex: 1;
}

.gvt-faq-title {
    font-size: 38px;
    font-weight: 700;
    color: #073C6D;
}

.gvt-faq-subtitle {
    margin-top: 5px;
    color: #666;
    font-size: 17px;
}

.gvt-faq-item {
    background: #fff;
    border-radius: 10px;
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.gvt-faq-question {
    padding: 15px 20px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gvt-faq-question:hover {
    background: #f0f4ff;
}

.gvt-faq-question.open {
    background-color: #e7f0ff;
}

.gvt-faq-answer {
    display: none;
    padding: 15px 20px;
    font-size: 15px;
    color: #444;
    line-height: 1.5;
}

.gvt-faq-question-icon {
    font-size: 20px;
    color: #073C6D;
    
}

.faq-form {
    padding-top: 3rem;
}

.gvt-faq-form-box {
    background: #fff;
    border-radius: 12px;
    padding: 30px 25px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.gvt-faq-form-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #073C6D;
}

.gvt-faq-form-sub {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}

.gvt-faq-form input,
.gvt-faq-form textarea {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.gvt-faq-form input:focus,
.gvt-faq-form textarea:focus {
    border-color: #3b82f6;
}

.gvt-faq-submit-btn {
    background: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.gvt-faq-submit-btn:hover {
    background: var(--color-accent);
}

/* =======================================end-faq-section======================================== */



























































/* =========================================start-footer============================================= */


/* Newsletter Section */
.govt-foot-newsletter {
    background: #073C6D;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.govt-foot-newsletter h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.govt-foot-newsletter p {
    margin: 0;
    font-size: 16px;
}

.govt-foot-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.govt-foot-form input[type="email"] {
    padding: 10px 20px;
    border: none;
    border-radius: 30px 0 0 30px;
    outline: none;
    width: 300px;
}

.govt-foot-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #00c49a;
    color: #fff;
    cursor: pointer;
}

.govt-foot-form button:hover {
    background-color: #00a981;
}

.govt-foot-link {
    display: block;
    margin-top: 10px;
    color: #00c49a;
    text-decoration: none;
}

/* Footer Section */
.govt-foot-footer {
    background-color: #003157;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}

.govt-foot-col {
    min-width: 260px;
    margin: 20px;
}

.govt-foot-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid #0077cc;
    display: inline-block;
    padding-bottom: 5px;
}

.govt-foot-col p,
.govt-foot-col li {
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 8px;
}

.govt-foot-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.govt-foot-col ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.govt-foot-col ul li a:hover {
    color: #00c49a;
}

.govt-foot-col i {
    color: #fff;
    margin-right: 10px;
}

.govt-foot-call-button {
    background: #00c49a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
}

.govt-foot-call-button:hover {
    background: #00a981;
}

/* Footer Bottom */
.govt-foot-bottom {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    background-color: #073C6D;
    color: #ccc;
}

@media (max-width: 768px) {
    .govt-foot-footer {
        flex-direction: column;
        align-items: center;
    }

    .govt-foot-form {
        flex-direction: column;
    }

    .govt-foot-form input[type="email"],
    .govt-foot-form button {
        width: 100%;
        border-radius: 30px;
        margin: 5px 0;
    }
}



/* =========================================end-footer============================================= */